* {background-color: black}
#title {
    background-color: black;
    height: 100vh;
    display: grid;
    align-content: space-between;
}

.navbar{
    padding-bottom: 4.5rem !important;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h2{
    color: white;
}
h3{
    color: white;
}
h4{
    color: white;
}
.stam{
    color: white;
    text-align: left;
}

.navbar-toggler{
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent white;
}

.my-container-fluid{
    padding: 2% 10% 1% 10%;
}

a{
    color: black;
    text-decoration: none;
}

hr{
    border-style: none !important;
    border-top-style: dotted !important;
    border-color: white !important;
    border-width: 5px !important;
    /* width: 5% !important; */
}

button{
    margin: 3px !important;
}

.col-lg-6{
    text-align: center !important;
vertical-align: middle !important;
}

.photo1{
    width: 50%;
    border-radius: 12px;
    margin: 3%;
    box-shadow: 1px 1px 90px 50px #FFFFFF28;
    align-self: right;
}

.col-image{
    justify-content: center;
}

.name-heading {
    font-family: "Sacramento";
    color: white;
    font-size: 6em;
    line-height: 1.5;
}


.div-stam{
    padding: 3% 10% 3% 10%;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.footer{
    padding: 1% 10% 1% 10%;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.footer-anchor-tag{
    text-decoration: none;
    color: #FFFFFF !important;
    background-color: #212529 !important;
}

.footer{
    padding: 0 0 0 0;
    padding-bottom: 5vh;
    width: 100%;
}